<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>

    <%- include("partials/head") %>
</head>
<body>
    
<!-- Importamos mediante ejs, la porcion de codigo que se encuentra en navigation.ejs -->
  <%- include("partials/navigation") %>

<main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
  <section>
      <h1 class="display-1">About</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis mollitia officia dignissimos, dolorem veritatis soluta aliquam voluptate, molestiae voluptates aperiam asperiores blanditiis dicta doloremque rerum reprehenderit quis? Incidunt, nam vero? Quos officia minima nisi quo fugit esse voluptates explicabo, reprehenderit quia deleniti consequuntur ipsa nobis laboriosam unde tempore? Magnam totam explicabo doloremque mollitia expedita? Corrupti repellendus asperiores assumenda aut autem voluptatibus ea eveniet at et inventore mollitia, vel necessitatibus pariatur similique nemo accusamus dignissimos minima earum? Veniam delectus quam quia libero beatae ullam minima, molestias velit, hic obcaecati, enim in inventore molestiae ad cumque! Veritatis, ut temporibus voluptas eum magni delectus error rem numquam beatae? Fuga qui quia fugit placeat quasi, exercitationem, reiciendis, beatae impedit veritatis nesciunt rem voluptatibus? Cupiditate illo nostrum, ad temporibus nemo ea vero consectetur consequatur. Suscipit voluptas dolorem sit quas minima tenetur saepe adipisci voluptate similique ex reiciendis id, a unde hic neque sapiente accusamus, impedit totam eius eligendi nemo harum pariatur. Expedita accusantium quos maiores? Voluptatum, excepturi libero! Molestias veritatis enim velit adipisci illo, totam impedit mollitia quae ducimus iure optio omnis eaque nostrum! Assumenda quasi necessitatibus ab reprehenderit nostrum voluptate eum autem nesciunt veritatis molestiae eius earum soluta, delectus aperiam animi vitae dolores accusamus.</p>
  </section>
</main>

<!-- Footer de la pagina -->
<%- include("partials/footer") %>

</body>
</html>